{% extends "base.html" %}

{% block links %}
  <link href="{{ url_for('static', filename='/css/creation-reports.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div
    class="d-flex flex-column justify-content-center w-100 mb-2"
    style="height: 90vh"
  >
    <!-- Scanning button -->
    <div class="d-flex justify-content-between align-items-center mb-2">
      <div>
        Previous scanning:
        {% if previous_scan_result == "-" %}
          <span class="text-secondary">{{ previous_scan_result }}</span>
        {% elif previous_scan_result == "SUCCEED" %}
          <span class="text-success">{{ previous_scan_result }}</span>
        {% elif previous_scan_result == "FAILED" %}
          <span class="text-danger">{{ previous_scan_result }}</span>
        {% endif %}
      </div>

      <div>
        Last scan:
        {% if previous_scan_finished_at == "-" %}
          {{ previous_scan_finished_at }}
        {% else %}
          {{ offset_to_east(previous_scan_finished_at, True).strftime("%Y-%m-%d %H:%M:%S") }}
        {% endif %}
      </div>

      <div>
        Current status:
        {% if current_scan_status == "READY" %}
          <span class="text-success">{{ current_scan_status }}</span>
        {% elif current_scan_status == "IN PROGRESS" %}
          <span class="text-primary">{{ current_scan_status }}</span>
        {% endif %}
      </div>

      <form action="" method="post">
        <button
          type="submit"
          class="btn btn-primary"
          {{ 'disabled' if scan_disabled else None}}
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          title="{{ reason }}"
        >
          Scan for new activations
        </button>
      </form>
    </div>
    <!-- End of scanning button -->

    <!-- Table -->
    <div
      class="d-flex flex-column justify-content-center w-100 h-100 overflow-auto"
    >
      <!-- Searching -->
      <label for="logs-search" class="sr-only">Search</label>
      <div class="d-flex align-items-center w-60 mb-4">
        <svg class="text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" width="20px" height="20px" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
        </svg>
        <div class="border-bottom ml-2 w-100">
          <input {% if page.query %} value="{{ page.query }}" {% endif %} type="text" id="reports-search-input" class="form-control border-0 text-sm text-gray-600 w-100 bg-light" placeholder="Search"/>
        </div>
        <a onclick="clearSearchInput()" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-500" width="20px" height="20px" viewBox="0 0 512 512">
            <polygon fill="var(--ci-primary-color, currentColor)" points="427.314 107.313 404.686 84.687 256 233.373 107.314 84.687 84.686 107.313 233.373 256 84.686 404.687 107.314 427.313 256 278.627 404.686 427.313 427.314 404.687 278.627 256 427.314 107.313" class="ci-primary"/>
          </svg>
        </a>
      </div>
      <!-- End of searching -->

      <!-- Buttons -->
      <div class="d-flex justify-content-start mb-3">
        <a type="button" href="{{ url_for('pcc.creation_reports') }}?page=1&per_page={{ page.per_page }}" class="btn {{ 'btn-primary' if not approved_page else 'btn-outline-primary' }} btn-sm mr-2">Waiting for approval</a>
        <a type="button" href="{{ url_for('pcc.creation_reports') }}?page=1&per_page={{ page.per_page }}&approved_page=True" class="btn {{ 'btn-primary' if approved_page else 'btn-outline-primary' }} btn-sm mr-2">Approved / Rejected</a>
      </div>
      <!-- End of buttons -->

      <!-- Waiting for approve table -->
      {% if not approved_page %}
        {% if not reports %}
          <div class="text-center h-100">No waiting for approval objects.</div>
        {% else %}
        <div class="w-100 mb-2 overflow-auto" style="height: 60vh">
          <table class="w-full text-xs-bigger text-start table table-hover pr-2 pl-2">
            <thead class="text-sm text-start" style="color: #4e73df">
              <tr>
                <th scope="col">Company</th>
                <th scope="col">Actions</th>
                <th scope="col">Created at</th>
                <th scope="col">Approve</th>
                <th scope="col">Reject</th>
              </tr>
            </thead>
            <tbody>
              {% for report in reports %}
                <tr>
                  <td class="p-2 text-gray align-middle">
                    <span>{{ report.company_name }}</span>
                  </td>
                  <td class="p-2 text-gray align-middle">
                    {% for obj in report.data_as_obj %}
                      {% if obj["type"] == "COMPANY" %}
                        <div class="mb-1">
                          {{ "Create" if obj["action"] == "CREATE" else "Update" }}
                          company
                          <span>{{ obj.name }}.</span>
                        </div>
                      {% elif obj["type"] == "LOCATION" %}
                        {% set data_without_obj = report.data_as_obj %}
                        {% set popped_obj = data_without_obj.pop(loop.index - 1) %}
                        <div class="mb-1 d-flex align-items-center">
                          <a type="button" class="mr-1" href="#" onclick="handleChangeData({{ report.id }}, {{ to_json({'data': data_without_obj}) }}, true)">
                            <svg xmlns="http://www.w3.org/2000/svg" class="text-gray-500" width="10px" height="10px" viewBox="0 0 512 512">
                              <polygon fill="var(--ci-primary-color, currentColor)" points="427.314 107.313 404.686 84.687 256 233.373 107.314 84.687 84.686 107.313 233.373 256 84.686 404.687 107.314 427.313 256 278.627 404.686 427.313 427.314 404.687 278.627 256 427.314 107.313" class="ci-primary"/>
                            </svg>
                          </a>
                          {{ "Create" if obj["action"] == "CREATE" else "Update" }}
                          location
                          <span class="ml-1 mr-1">{{ obj.name }}.</span>
                          Backup downloading type:
                          {% set data_pcc = update_report_data(report.data_as_obj, loop.index - 1, {"use_pcc_backup": True}) %}
                          {% set data_sftp = update_report_data(report.data_as_obj, loop.index - 1, {"use_pcc_backup": False}) %}
                          <div class="dropdown ml-1">
                            <button class="btn dropdown-toggle btn-xs" style="border-color: rgb(183, 185, 204, 0.6); border-width: 1px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{ "PCC" if obj["use_pcc_backup"] else "SFTP" }}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a type="button" class="dropdown-item" onclick="handleChangeData({{ report.id }}, {{ to_json({'data': data_pcc }) }}, true)" href="#">PCC</a>
                              <a type="button" class="dropdown-item" onclick="handleChangeData({{ report.id }}, {{ to_json({'data': data_sftp }) }}, true)" href="#">SFTP</a>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </td>
                  <td class="p-2 text-gray align-middle">
                    <div>{{ offset_to_east(report.created_at, True).strftime("%Y-%m-%d %H:%M:%S") }}</div>
                  </td>
                  <td class="p-2 text-gray align-middle">
                    <a type="button" href="{{ url_for('pcc.get_creation_report', report_id=report.id) }}?status=APPROVED" class="btn btn-success btn-sm">Approve</a>
                  </td>
                  <td class="p-2 text-gray align-middle">
                    <a type="button" href="{{ url_for('pcc.get_creation_report', report_id=report.id) }}?status=REJECTED" class="btn btn-danger btn-sm">Reject</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}
      <!-- End waiting for approve table -->

      <!-- Approved / Rejected table -->
      {% else %}
        {% if not reports %}
          <div class="text-center h-100">No creation reports found.</div>
        {% else %}
          <div class="w-100 overflow-auto mb-2" style="height: 80vh">
            <table class="w-full text-xs-bigger text-start table table-hover pr-2 pl-2">
              <thead class="text-sm text-start" style="color: #4e73df">
                <tr>
                  <th scope="col">Company</th>
                  <th scope="col">Created/Updated objects</th>
                  <th scope="col">Created at</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                {% for report in reports %}
                  <tr>
                    <td class="p-2 text-gray align-middle">
                      {% if report.status.value == "APPROVED" %}
                        <a class="text-decoration-none" href="{{ url_for('company.edit_view', id=report.company_id) }}">{{ report.company_name }}</a>
                      {% else %}
                        <span>{{ report.company_name }}</span>
                      {% endif %}
                    </td>
                    <td class="p-2 text-gray align-middle">
                      {% for obj in report.data_as_obj %}
                        {% if obj["type"] == "COMPANY" %}
                          {% if report.status.value == "APPROVED" %}
                            <div>
                              Company
                              {{ "created" if obj["action"] == "CREATE" else "updated" }}
                              <a class="text-decoration-none" href="{{ url_for('company.edit_view', id=obj.id) }}">{{ obj.name }}</a>
                            </div>
                          {% else %}
                            <div>
                              Company was not
                              {{ "created" if obj["action"] == "CREATE" else "updated" }}
                              <span>{{ obj.name }}</span>
                            </div>
                          {% endif %}
                        {% elif obj["type"] == "LOCATION" %}
                          {% if report.status.value == "APPROVED" %}
                            <div>
                              Location
                              {{ "created" if obj["action"] == "CREATE" else "updated" }}
                              <a class="text-decoration-none" href="{{ url_for('location.edit_view', id=obj.id) }}">{{ obj.name }}</a>
                            </div>
                          {% else %}
                            <div>
                              Location was not
                              {{ "created" if obj["action"] == "CREATE" else "updated" }}
                              <span>{{ obj.name }}</span>
                            </div>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    </td>
                    <td class="p-2 text-gray align-middle">
                      <div>{{ offset_to_east(report.created_at, True).strftime("%Y-%m-%d %H:%M:%S") }}</div>
                    </td>
                    <td class="p-2 align-middle {{ 'text-success' if report.status.value == 'APPROVED' else 'text-danger' }}">
                      <div>{{ report.status.value }}</div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}
      {% endif %}
      <!-- Approved / Rejected table -->

      <!-- Pagination -->
      <div class="w-100 d-flex align-items-center mb-3">
        <span class="text-xs mr-4">{{ page.skip + 1 }}-{{ page.skip + reports.__len__() }} of {{ page.total }} records</span>

        {% if page.pages > 1 %}
          <nav aria-label="Page navigation" class="mr-4 d-flex align-items-center">
            <ul class="d-inline-flex items-center list-unstyled mb-0">
              <li>
                <!-- prettier-ignore -->
                <a
                  href="{{ url_for('pcc.creation_reports') }}?page=1&per_page={{ page.per_page }}&q={{ page.query }}&approved_page={{ approved_page }}"
                  class="btn text-gray-500 btn-xs border btn-left-rounded-border p-0"
                  role="button"
                >
                  <span class="sr-only">First</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="20px" height="20px">
                    <path fill-rule="evenodd" d="M15.79 14.77a.75.75 0 01-1.06.02l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 111.04 1.08L11.832 10l3.938 3.71a.75.75 0 01.02 1.06zm-6 0a.75.75 0 01-1.06.02l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 111.04 1.08L5.832 10l3.938 3.71a.75.75 0 01.02 1.06z" clip-rule="evenodd" />
                  </svg>
                </a>
              </li>
              <li>
                <!-- prettier-ignore -->
                <a
                  href="{{ url_for('pcc.creation_reports') }}?page={{page.page-1 if page.page > 1 else 1}}&per_page={{ page.per_page }}&q={{ page.query }}&approved_page={{ approved_page }}"
                  class="btn text-gray-500 btn-xs border rounded-0 border-left-0 p-0"
                  role="button"
                >
                  <span class="sr-only">Previous</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="20px" height="20px">
                    <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                  </svg>
                </a>
              </li>

              <!-- prettier-ignore -->
              {% for p in page.pages_for_links %}
              <li>
                <!-- prettier-ignore -->
                {% if p == page.page %}
                  <!-- prettier-ignore -->
                  <a
                    href="{{ url_for('pcc.creation_reports') }}?page={{p}}&per_page={{ page.per_page }}&q={{ page.query }}&approved_page={{ approved_page }}"
                    class="btn text-gray-700 btn-xs border rounded-0 border-left-0"
                    role="button"
                  >
                    {{p}}
                  </a>
                {% else %}
                  <!-- prettier-ignore -->
                  <a
                    href="{{ url_for('pcc.creation_reports') }}?page={{p}}&per_page={{ page.per_page }}&q={{ page.query }}&approved_page={{ approved_page }}"
                    class="btn text-gray-500 btn-xs border rounded-0 border-left-0"
                    role="button"
                  >
                    {{p}}
                  </a>
                {% endif %}
              </li>
              {% endfor %}

              <li>
                <!-- prettier-ignore -->
                <a
                  href="{{ url_for('pcc.creation_reports') }}?page={{page.page+1 if page.page < page.pages else page.pages}}&per_page={{ page.per_page }}&q={{ page.query }}&approved_page={{ approved_page }}"
                  class="btn text-gray-500 btn-xs border rounded-0 border-right-0 border-left-0 p-0"
                  role="button"
                >
                  <!-- prettier-ignore -->
                  <span class="sr-only">Next</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="20px" height="20px">
                    <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                  </svg>
                </a>
              </li>
              <li>
                <!-- prettier-ignore -->
                <a
                  href="{{ url_for('pcc.creation_reports') }}?page={{page.pages}}&per_page={{ page.per_page }}&q={{ page.query }}&approved_page={{ approved_page }}"
                  class="btn text-gray-500 btn-xs border btn-right-rounded-border p-0"
                  role="button"
                >
                  <!-- prettier-ignore -->
                  <span class="sr-only">Last</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="20px" height="20px">
                    <path fill-rule="evenodd" d="M10.21 14.77a.75.75 0 01.02-1.06L14.168 10 10.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                    <path fill-rule="evenodd" d="M4.21 14.77a.75.75 0 01.02-1.06L8.168 10 4.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                  </svg>
                </a>
              </li>
            </ul>
          </nav>
        {% endif %}

        <span class="text-xs mr-1">Rows per page:</span>
        <div class="dropdown">
          <button class="btn dropdown-toggle btn-xs" style="border-color: rgb(183, 185, 204, 0.6); border-width: 1px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ page.per_page }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for items_number in [10, 25, 50] %}
              <a class="dropdown-item" href="{{ url_for('pcc.creation_reports') }}?page=1&per_page={{ items_number }}&q={{ page.query }}&approved_page={{ approved_page }}">{{ items_number }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- End pagination -->
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='/js/creation-reports.js') }}"></script>
  <script>
    autoReload({{ "true" if current_scan_status == "IN PROGRESS" else "false" }})
  </script>
{% endblock %}
