{% import "email/base-email-macros.html" as macros %}

<!DOCTYPE html>
<html>
  <head>
    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='/css/sb-admin-2.min.css') }}" rel="stylesheet">
  </head>
  <body
    style="
        padding: 20px;
        background-color: #fff;
        font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
        font-size: 16px;
        color: #43516B;
        line-height: 40px;
    "
  >
    <div
      style="
        text-align: left;
        width: 600px;
    "
    >
      <div style="
        text-align: center;
      ">
        {% block pre_content %}{% endblock %}
      </div>

      <div
        style="
            box-sizing: border-box;
            margin-bottom: 20px;

            background-image: url(https://static.bidhive.com/email-background.png);
            background-size: 100% 100%;

            border-radius: 8px;

            text-align: center;
            "
      >
        {% block content_tag %}{% endblock %}
        <div style="padding: 30px; text-align: center;">
            {% block content %}{% endblock %}
            {% if support_message %}
              <p>{{ support_message }} <a href="mailto:support@emarvault.com">support@emarvault.com</a></p>
            {% else %}
              <p>
                If you have any issues you can email us at
                <a href="mailto:support@emarvault.com">support@emarvault.com</a>.
              </p>
            {% endif %}

            <br />
            <span>Thanks! The eMARVault team</span>
        </div>
      </div>

      {% block footer %}{% endblock %}
    </div>
  </body>
</html>
