{% extends "email/base-email.html" %}
{% import "email/base-email-macros.html" as macros%}

{% block content_tag %}
  {{ macros.tag("white", "red", "eMAR Computer Offline") }}
{% endblock %}

{% block content %}
  <p style="font-size: 1rem; font-weight: 600; margin: 20px 0 0 0; text-align: left;">Location: {{ location.name }}</p>

  <p style="font-size: 1rem; font-weight: 600; margin: 0; text-align: left;">Computer: {{ computer.computer_name }}</p>

  <p style="font-size: 1rem; font-weight: 600; margin: 0; text-align: left;">Error: {{ "Unsuccessful backup" if computer.download_status == "error" else "Device is offline" }}</p>

  <p style="font-size: 1rem; font-weight: 600; margin: 0; text-align: left;">
    Last Backup Time: {{ offset_to_east(computer.last_download_time, True).strftime("%Y-%m-%d %H:%M:%S") if computer.last_download_time else "-"}}
  </p>

  <p
    style="font-size: 1rem; line-height: 1.5rem; text-align: left;"
  >
    The primary computer <b>{{ computer.computer_name }}</b> at <b>{{ location.name }}</b> is currently offline and did not download the latest eMAR backup file.
  </p>

  <hr style="margin: 20px 0; border: 1px solid #DCDEE4;" />

  <!--  macros.button("Submit Support Ticket", url_for("main.index"))

  <p style="font-size: 0.75rem; line-height: 1rem;">Send a support ticket to your IT department to resolve the error.</p>

  <hr style="margin: 20px 0; border: 1px solid #DCDEE4;" /> -->

  {{ macros.button("eMAR Vault", url_for("main.index")) }}

  <p style="font-size: 0.75rem; line-height: 1rem;">Login to the eMAR Vault to check the status of your computers.</p>
{% endblock %}