{% import '/admin/model/edit.html' as admin_edit with context %}
{% extends 'base.html' %}

{% block content %}
  {% if "/admin/user/" in return_url %}
    <div class="d-flex justify-content-end w-100 mb-3">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#change-password-modal">
        Change password
      </button>

      <!-- Modal -->
      <div class="modal fade" id="change-password-modal" tabindex="-1" role="dialog" aria-labelledby="change-password-modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="change-password-modal-label">Change Password</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="change-password-form" action="/change-password" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="hidden" name="user_id" value="{{ model.id }}">
                <div class="form-group">
                  <label class="text-gray-900" for="new-password-input">New password:</label>
                  <div class="d-flex align-items-center">
                    <input id="new-password-input" name="new_password" type="password" class="form-control mr-2" placeholder="Enter new password">
                    <a id="show-new-password" type="button" class="fas fa-eye" onclick="showPassword(event, 'hide-new-password')"></a>
                    <a hidden id="hide-new-password" type="button" onclick="hidePassword(event, 'show-new-password')" class="fas fa-eye-slash"></a>
                  </div>
                </div>

                <div class="form-group">
                  <label class="text-gray-900" for="confirm-new-password-input">Confirm password:</label>
                  <div class="d-flex align-items-center">
                    <input id="confirm-new-password-input" name="confirm_new_password" type="password" class="form-control mr-2" placeholder="Confirm password">
                    <a id="show-confirm-password" type="button" class="fas fa-eye" onclick="showPassword(event, 'hide-confirm-password')"></a>
                    <a hidden id="hide-confirm-password" type="button" onclick="hidePassword(event, 'show-confirm-password')" class="fas fa-eye-slash"></a>
                  </div>
                  <p hidden id="passwords-not-equal-hint" class="text-danger text-xs"></p>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" form="change-password-form" class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {{admin_edit}}
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/user.js')}}"></script>
{% endblock %}
