{% extends "base.html" %} 


{% block content %}
          

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  <!-- <a class="dash-cards" href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
</div>

<!-- Content Row 1 -->
<div class="row">

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            {% if current_user.is_authenticated %}
            <div class="text-xxs font-weight-bold text-success text-uppercase mb-1"><a class="dash-cards" href="/admin/company/">Total Companies</a></div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h3 mb-0 mr-5 font-weight-bold text-gray-800">{{total_companies}}</div>
              </div>
              <div class="col">
                <!-- <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div> -->
              </div>
            </div>
            {% endif %}
          </div>
          <div class="col-auto">
            <i class="fas fa-hospital fa-2x text-success"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            {% if current_user.is_authenticated %}
            <div class="text-xxs font-weight-bold text-success text-uppercase mb-1"><a class="dash-cards" href="/admin/location/">Total Sites</a></div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{total_locations}}</div>
              </div>
              <!-- <div class="col">
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div> -->
            </div>
            {% endif %}
          </div>
          <div class="col-auto">
            <i class="fas fa-map-marker-alt fa-2x text-success"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            {% if current_user.is_authenticated %}
            <div class="text-xxs font-weight-bold text-success text-uppercase mb-1"><a class="dash-cards" href="/admin/computer/">Total Computers</a></div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{total_computers}}</div>
              </div>
              <!-- <div class="col">
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div> -->
            </div>
            {% endif %}
          </div>
          <div class="col-auto">
            <i class="fas fa-desktop fa-2x text-success"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pending Requests Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            {% if current_user.is_authenticated %}
            <div class="text-xxs font-weight-bold text-info text-uppercase mb-1"><a class="dash-cards" href="admin/desktopclient/?search=stable">Latest Stable MSI</a></div>

            <!-- <div class="text-xxs font-weight-bold text-info text-uppercase mb-1"><a class="dash-cards" href="/admin/desktopclient/?flt2_19=latest%2Cstable">Latest Stable MSI</a></div> -->
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{stable_msi}}</div>
              </div>
            </div>
            {% endif %}
          </div>
          <div class="col-auto">
            <i class="fas fa-server fa-2x text-info"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Content Row 2 -->
<div class="row">

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            {% if current_user.is_authenticated %}
            <div class="text-xxs font-weight-bold text-danger text-uppercase mb-1"><a class="dash-cards" href="/admin/location/{{al_loc_off_filter_link.replace('percen', '%')}}">Locations Offline</a></div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{locations_offline}}</div>
              </div>
              <div class="col">
                <div class="col">
                  <div class="progress progress-sm mr-2">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ locations_offline_perc }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
          <div class="col-auto align-items-center">
            <div class="row no-gutters h5">
              <i class="fas fa-map-marker-alt fa-1x text-danger center-hor"></i>
            </div>
            <div class="row no-gutters h5">
              <i class="fas fa-power-off fa-1x text-danger center-hor"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            {% if current_user.is_authenticated %}
            <div class="text-xxs font-weight-bold text-danger text-uppercase mb-1"><a class="dash-cards" href="/admin/location/{{al_loc_no_back_filter_link.replace('percen', '%')}}">Locations no Backups</a></div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{locations_no_download}}</div>
              </div>
              <div class="col">
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: {{ locations_no_download_perc }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
          <div class="col-auto align-items-center">
            <div class="row no-gutters h5">
              <i class="fas fa-map-marker-alt fa-1x text-danger center-hor"></i>
            </div>
            <div class="row no-gutters h5">
              <i class="fas fa-download fa-1x text-danger center-hor"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            {% if current_user.is_authenticated %}
            <div class="text-xxs font-weight-bold text-warning text-uppercase mb-1"><a class="dash-cards" href="/admin/computer/?search=offlin">Computers Offline > 48</a></div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{offline_48h}}</div>
              </div>
              <div class="col">
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: {{ offline_48h_perc }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
          <div class="col-auto align-items-center">
            <div class="row no-gutters h5">
              <i class="fas fa-desktop fa-1x text-warning center-hor"></i>
            </div>
            <div class="row no-gutters h5">
              <i class="fas fa-power-off fa-1x text-warning center-hor"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pending Requests Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            {% if current_user.is_authenticated %}
            <div class="text-xxs font-weight-bold text-warning text-uppercase mb-1"><a class="dash-cards" href="/admin/computer/?search=backu">No Backups > 4 h</a></div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{no_backup_4h}}</div>
              </div>
              <div class="col">
                <div class="progress progress-sm mr-2">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: {{ no_backup_4h_perc }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
            {% endif %}
          </div>
          <div class="col-auto align-items-center">
            <div class="row no-gutters h5">
              <i class="fas fa-desktop fa-1x text-warning center-hor"></i>
            </div>
            <div class="row no-gutters h5">
              <i class="fas fa-download fa-1x text-warning center-hor"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Instructions</h6>
    </div>
    <div class="card-body">
      <h4>How to install eMARVault On an additional Computers</h4>

        <h5>DESKTOP INSTALL INSTRUCTIONS</h5>
        <ol type="1">
          <li>Login into the website emarvault.com (Or eMAR Vault - Admin Panel (mytechwebsite.com))</li>
          <li>Select "System Settings" -> "Desktop Client"</li>
          <li>Locate version with "Latest" as the flag name. Right click on Download and copy link</li>
          <li>Login into the computer where you will be installing the eMARVault desktop client</li>
          <li>Download the client to the computer https://emarvault.com/download/7</li>
          <li>Run Installer from an admin account</li>
          <li>When prompted enter admin username (DTC or something like that) and the admin password</li>
          <ol type="a">
            <li>This will create 2x scheduled tasks (eMARVaultHourlyCheck, eMARVaultHeartbeat)</li>
              <li>This will install the program into C:\Program Files (x86)\eMARVault</li>
        </ol>
        </ol>

        <h4>WEBSITE CONFIGURATION</h4>
        <ol type="1">
        <li>Login into the website emarvault.com (Or eMAR Vault - Admin Panel (mytechwebsite.com))</li>
        <li>Select "Computers"</li>
        <li>Locate the new computer that the software was installed on (OR sort by company name and the new device will show up first since there is no name there</li>
        <li>Click Edit (Pencil button next to the trashbin looking icon)</li>
        <li>Fill out the following fields</li>
        <ol type="a">
          <li>Company Name (Drop Down if missing, setup company under the "Company Tab")</li>
          <li>Location (Drop Down if missing, setup "Location" under the "Location Tab" ) It will filter as you type in the company name</li>
          <li>Type (Enter description on where that computer is)</li>
          <li>SFTP Host (ftpus.pointclickcare.com)</li>
          <li>SFTP Username (emar backup username for that company)</li>
          <li>SFTP FolderPath (EG: emar_backup_hvhc_19)</li>
          <li>Scroll to the bottom and click "Save"</li>
        </ol>
        <br>
        <h6>Testing and Confirmation that its working</h6>
        <li>Login into the computer and run the scheduled task</li>
        <li>OR = Wait up to 1 hour (Scheduled task runs 1x times per hour)</li>
        <li>A new ICON will show up on the desktop named "eMARVault"</li>
        <li>Click on it and it will prompt for a password to open the files</li>
        <li>The default password is = password</li>
        <li>This can be changed from the website by editing the computer and changing the "Folder Password" to something else.</li>
      </ol>
      <p class="mb-0">...</p>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

</div>
{% endblock %}
