{% extends "base.html" %}


{% block content %}


<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
</div>

<!-- Row 1: locations offline -->
<div class="container p-0">
  <div class="row">

    <!-- Locations Offline Card -->
    {% if current_user.is_authenticated and locations_offline %}
      <div class="col mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xxs font-weight-bold text-danger text-uppercase mb-1"><a class="dash-cards" href="{{ url_for('location.index_view', flt1_14='OFFLINE') }}">Locations Offline</a></div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{locations_offline}}</div>
                  </div>
                  <div class="col">
                    <div class="col">
                      <div class="progress progress-sm mr-2">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ locations_offline_perc }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto align-items-center">
                <div class="row no-gutters h5">
                  <i class="fas fa-map-marker-alt fa-1x text-danger center-hor"></i>
                </div>
                <div class="row no-gutters h5">
                  <i class="fas fa-power-off fa-1x text-danger center-hor"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>


  <!-- Row 2: locations online; locations alternate only -->
  <div class="row">

    <!-- Locations online -->
    <div class="col mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              {% if current_user.is_authenticated %}
                <div class="text-xxs font-weight-bold text-success text-uppercase mb-1"><a class="dash-cards" href="{{ url_for('location.index_view', flt1_14='ONLINE') }}">Locations Online</a></div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{ locations_online }}</div>
                  </div>
                  <div class="col">
                    <div class="col">
                      <div class="progress progress-sm mr-2">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ locations_online_perc }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
            <div class="col-auto align-items-center">
              <div class="row no-gutters h5">
                <i class="fas fa-map-marker-alt fa-1x text-success center-hor"></i>
              </div>
              <div class="row no-gutters h5">
                <i class="fas fa-power-off fa-1x text-success center-hor"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Locations alternate only -->
    <div class="col mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              {% if current_user.is_authenticated %}
                <div class="text-xxs font-weight-bold text-warning text-uppercase mb-1"><a class="dash-cards" href="{{ url_for('location.index_view', flt1_14='ONLINE_PRIMARY_OFFLINE') }}">Locations Alternate Only</a></div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{ locations_primary_offline }}</div>
                  </div>
                  <div class="col">
                    <div class="col">
                      <div class="progress progress-sm mr-2">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: {{ locations_primary_offline_perc }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
            <div class="col-auto align-items-center">
              <div class="row no-gutters h5">
                <i class="fas fa-map-marker-alt fa-1x text-warning center-hor"></i>
              </div>
              <div class="row no-gutters h5">
                <i class="fas fa-power-off fa-1x text-warning center-hor"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Row 3: computers online; primary computers offline computers offline -->
  <div class="row">

    <!-- Computers online -->
    <div class="col mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              {% if current_user.is_authenticated %}
              <div class="text-xxs font-weight-bold text-success text-uppercase mb-1"><a class="dash-cards" href="{{ url_for('computer.index_view', flt0_9='ONLINE') }}">Computers Online</a></div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{ computers_online }}</div>
                </div>
                <div class="col">
                  <div class="progress progress-sm mr-2">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ computers_online_perc }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
            <div class="col-auto align-items-center">
              <div class="row no-gutters h5">
                <i class="fas fa-desktop fa-1x text-success center-hor"></i>
              </div>
              <div class="row no-gutters h5">
                <i class="fas fa-power-off fa-1x text-success center-hor"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Primary computers offline -->
    <div class="col mb-4">
      <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              {% if current_user.is_authenticated %}
              <div class="text-xxs font-weight-bold text-danger text-uppercase mb-1"><a class="dash-cards" href="{{ url_for('computer.index_view') }}?flt0_7=no+backup&flt2_89=PRIMARY">Primary Computers Offline</a></div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{ primary_offline }}</div>
                </div>
                <div class="col">
                  <div class="progress progress-sm mr-2">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ primary_offline_perc }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
            <div class="col-auto align-items-center">
              <div class="row no-gutters h5">
                <i class="fas fa-desktop fa-1x text-danger center-hor"></i>
              </div>
              <div class="row no-gutters h5">
                <i class="fas fa-power-off fa-1x text-danger center-hor"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Computers offline -->
    <div class="col mb-4">
      <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              {% if current_user.is_authenticated %}
              <div class="text-xxs font-weight-bold text-danger text-uppercase mb-1"><a class="dash-cards" href="{{ url_for('computer.index_view', flt2_7='no backup') }}">Computers Offline</a></div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{ computers_offline }}</div>
                </div>
                <div class="col">
                  <div class="progress progress-sm mr-2">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ computers_offline_perc }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
            <div class="col-auto align-items-center">
              <div class="row no-gutters h5">
                <i class="fas fa-desktop fa-1x text-danger center-hor"></i>
              </div>
              <div class="row no-gutters h5">
                <i class="fas fa-power-off fa-1x text-danger center-hor"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="collapse" id="collapseMoreItems">

    <!-- Row 5: primary computers online; alternate computers online; alternate computers offline -->
    <div class="row">

      <!-- Primary computers online -->
      <div class="col mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                {% if current_user.is_authenticated %}
                <div class="text-xxs font-weight-bold text-success text-uppercase mb-1"><a class="dash-cards" href="{{ url_for('computer.index_view') }}?flt0_9=ONLINE&flt2_89=PRIMARY">Primary Computers Online</a></div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{ primary_online }}</div>
                  </div>
                  <div class="col">
                    <div class="progress progress-sm mr-2">
                      <div class="progress-bar bg-success" role="progressbar" style="width: {{ primary_online_perc }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
              <div class="col-auto align-items-center">
                <div class="row no-gutters h5">
                  <i class="fas fa-desktop fa-1x text-success center-hor"></i>
                </div>
                <div class="row no-gutters h5">
                  <i class="fas fa-power-off fa-1x text-success center-hor"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Alternate computers online -->
      <div class="col mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                {% if current_user.is_authenticated %}
                <div class="text-xxs font-weight-bold text-success text-uppercase mb-1"><a class="dash-cards" href="{{ url_for('computer.index_view') }}?flt0_9=ONLINE&flt2_89=ALTERNATE">Alternate Computers Online</a></div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{ alternate_online }}</div>
                  </div>
                  <div class="col">
                    <div class="progress progress-sm mr-2">
                      <div class="progress-bar bg-success" role="progressbar" style="width: {{ alternate_online_perc }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
              <div class="col-auto align-items-center">
                <div class="row no-gutters h5">
                  <i class="fas fa-desktop fa-1x text-success center-hor"></i>
                </div>
                <div class="row no-gutters h5">
                  <i class="fas fa-power-off fa-1x text-success center-hor"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Alternate computers offline -->
      <div class="col mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                {% if current_user.is_authenticated %}
                <div class="text-xxs font-weight-bold text-danger text-uppercase mb-1"><a class="dash-cards" href="{{ url_for('computer.index_view') }}?flt0_7=no+backup&flt2_89=ALTERNATE">Alternate Computers Offline</a></div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{ alternate_offline }}</div>
                  </div>
                  <div class="col">
                    <div class="progress progress-sm mr-2">
                      <div class="progress-bar bg-danger" role="progressbar" style="width: {{ alternate_offline_perc }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
              <div class="col-auto align-items-center">
                <div class="row no-gutters h5">
                  <i class="fas fa-desktop fa-1x text-danger center-hor"></i>
                </div>
                <div class="row no-gutters h5">
                  <i class="fas fa-power-off fa-1x text-danger center-hor"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- End of row -->

    <!-- Row 4: total locations; total computers -->
    <div class="row">

      <!-- Total locations card -->
      <div class="col mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                {% if current_user.is_authenticated %}
                <div class="text-xxs font-weight-bold text-success text-uppercase mb-1"><a class="dash-cards" href="{{ url_for('location.index_view') }}">Total locations</a></div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{ total_locations }}</div>
                  </div>
                </div>
                {% endif %}
              </div>
              <div class="col-auto">
                <i class="fas fa-map-marker-alt fa-2x text-success"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Total computers card -->
      <div class="col mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                {% if current_user.is_authenticated %}
                <div class="text-xxs font-weight-bold text-success text-uppercase mb-1"><a class="dash-cards" href="{{ url_for('computer.index_view') }}">Total Computers</a></div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{total_computers}}</div>
                  </div>
                </div>
                {% endif %}
              </div>
              <div class="col-auto">
                <i class="fas fa-desktop fa-2x text-success"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of row -->

  </div>
  <!-- End of collapse -->

</div>

<div class="d-sm-flex align-items-center justify-content-end mb-4">
  <button
    class="btn btn-sm btn-primary"
    id="more-items-button"
    type="button"
    data-toggle="collapse"
    data-target="#collapseMoreItems"
    aria-expanded="false"
    aria-controls="collapseMoreItems"
    onclick="handleCollapseClick()"
  >More</button>
</div>

{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/index-page.js')}}"></script>
{% endblock %}
