{% extends "base.html" %}


{% block content %}


<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  <!-- <a class="dash-cards" href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
</div>

<!-- Row 1: total companies; locations offline -->
<div class="container p-0 justify-content-center">
  <div class="row">

    <!-- Total Companies Card -->
    {% if current_user.permission.value == "GLOBAL" %}
      <div class="col mb-4">
        <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                {% if current_user.is_authenticated %}
                <div class="text-xxs font-weight-bold text-success text-uppercase mb-1">
                  {% if current_user.permission.value in ["GLOBAL", "COMPANY"] %}
                    <a class="dash-cards" href="{{ url_for('company.index_view') }}">Total Companies</a>
                  {% else %}
                    <span class="dash-cards">Total Companies</span>
                  {% endif %}
                </div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h3 mb-0 mr-5 font-weight-bold text-gray-800">{{total_companies}}</div>
                  </div>
                </div>
                {% endif %}
              </div>
              <div class="col-auto">
                <i class="fas fa-hospital fa-2x text-success"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <!-- Locations Offline Card -->
    {% if current_user.is_authenticated and locations_offline %}
      <div class="col mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xxs font-weight-bold text-danger text-uppercase mb-1"><a class="dash-cards" href="{{ url_for('location.index_view', flt1_14='OFFLINE') }}">Locations Offline</a></div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{locations_offline}}</div>
                  </div>
                  <div class="col">
                    <div class="col">
                      <div class="progress progress-sm mr-2">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ locations_offline_perc }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto align-items-center">
                <div class="row no-gutters h5">
                  <i class="fas fa-map-marker-alt fa-1x text-danger center-hor"></i>
                </div>
                <div class="row no-gutters h5">
                  <i class="fas fa-power-off fa-1x text-danger center-hor"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>


  <!-- Row 2: total locations; locations online; locations alternate only -->
  <div class="row">

    <!-- Total locations card -->
    <div class="col mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              {% if current_user.is_authenticated %}
              <div class="text-xxs font-weight-bold text-success text-uppercase mb-1"><a class="dash-cards" href="{{ url_for('location.index_view') }}">Total locations</a></div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{ total_locations }}</div>
                </div>
              </div>
              {% endif %}
            </div>
            <div class="col-auto">
              <i class="fas fa-map-marker-alt fa-2x text-success"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Locations online -->
    <div class="col mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              {% if current_user.is_authenticated %}
                <div class="text-xxs font-weight-bold text-success text-uppercase mb-1"><a class="dash-cards" href="{{ url_for('location.index_view', flt1_14='ONLINE') }}">Locations Online</a></div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{ locations_online }}</div>
                  </div>
                  <div class="col">
                    <div class="col">
                      <div class="progress progress-sm mr-2">
                        <div class="progress-bar bg-success" role="progressbar" style="width: {{ locations_online_perc }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
            <div class="col-auto align-items-center">
              <div class="row no-gutters h5">
                <i class="fas fa-map-marker-alt fa-1x text-success center-hor"></i>
              </div>
              <div class="row no-gutters h5">
                <i class="fas fa-power-off fa-1x text-success center-hor"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Locations alternate only -->
    <div class="col mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              {% if current_user.is_authenticated %}
                <div class="text-xxs font-weight-bold text-warning text-uppercase mb-1"><a class="dash-cards" href="{{ url_for('location.index_view', flt1_14='ONLINE_PRIMARY_OFFLINE') }}">Locations Alternate Only</a></div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{ locations_primary_offline }}</div>
                  </div>
                  <div class="col">
                    <div class="col">
                      <div class="progress progress-sm mr-2">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: {{ locations_primary_offline_perc }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
            <div class="col-auto align-items-center">
              <div class="row no-gutters h5">
                <i class="fas fa-map-marker-alt fa-1x text-warning center-hor"></i>
              </div>
              <div class="row no-gutters h5">
                <i class="fas fa-power-off fa-1x text-warning center-hor"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Row 3: total computers; computers online; computers offline -->
  <div class="row">

    <!-- Total computers card -->
    <div class="col mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              {% if current_user.is_authenticated %}
              <div class="text-xxs font-weight-bold text-success text-uppercase mb-1"><a class="dash-cards" href="{{ url_for('computer.index_view') }}">Total Computers</a></div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{total_computers}}</div>
                </div>
              </div>
              {% endif %}
            </div>
            <div class="col-auto">
              <i class="fas fa-desktop fa-2x text-success"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Computers online -->
    <div class="col mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              {% if current_user.is_authenticated %}
              <div class="text-xxs font-weight-bold text-success text-uppercase mb-1"><a class="dash-cards" href="{{ url_for('computer.index_view', flt0_9='ONLINE') }}">Computers Online</a></div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{ computers_online }}</div>
                </div>
                <div class="col">
                  <div class="progress progress-sm mr-2">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ computers_online_perc }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
            <div class="col-auto align-items-center">
              <div class="row no-gutters h5">
                <i class="fas fa-desktop fa-1x text-success center-hor"></i>
              </div>
              <div class="row no-gutters h5">
                <i class="fas fa-power-off fa-1x text-success center-hor"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Computers offline -->
    <div class="col mb-4">
      <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              {% if current_user.is_authenticated %}
              <div class="text-xxs font-weight-bold text-danger text-uppercase mb-1"><a class="dash-cards" href="{{ url_for('computer.index_view', flt2_7='no backup') }}">Computers Offline</a></div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{ computers_offline }}</div>
                </div>
                <div class="col">
                  <div class="progress progress-sm mr-2">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ computers_offline_perc }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
            <div class="col-auto align-items-center">
              <div class="row no-gutters h5">
                <i class="fas fa-desktop fa-1x text-danger center-hor"></i>
              </div>
              <div class="row no-gutters h5">
                <i class="fas fa-power-off fa-1x text-danger center-hor"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Row 4: primary computers online; primary computers offline -->
  <div class="row">

    <!-- Primary computers online -->
    <div class="col mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              {% if current_user.is_authenticated %}
              <div class="text-xxs font-weight-bold text-success text-uppercase mb-1"><a class="dash-cards" href="{{ url_for('computer.index_view') }}?flt0_9=ONLINE&flt2_89=PRIMARY">Primary Computers Online</a></div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{ primary_online }}</div>
                </div>
                <div class="col">
                  <div class="progress progress-sm mr-2">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ primary_online_perc }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
            <div class="col-auto align-items-center">
              <div class="row no-gutters h5">
                <i class="fas fa-desktop fa-1x text-success center-hor"></i>
              </div>
              <div class="row no-gutters h5">
                <i class="fas fa-power-off fa-1x text-success center-hor"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Primary computers offline -->
    <div class="col mb-4">
      <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              {% if current_user.is_authenticated %}
              <div class="text-xxs font-weight-bold text-danger text-uppercase mb-1"><a class="dash-cards" href="{{ url_for('computer.index_view') }}?flt0_7=no+backup&flt2_89=PRIMARY">Primary Computers Offline</a></div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{ primary_offline }}</div>
                </div>
                <div class="col">
                  <div class="progress progress-sm mr-2">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ primary_offline_perc }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
            <div class="col-auto align-items-center">
              <div class="row no-gutters h5">
                <i class="fas fa-desktop fa-1x text-danger center-hor"></i>
              </div>
              <div class="row no-gutters h5">
                <i class="fas fa-power-off fa-1x text-danger center-hor"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Row 5: alternate computers online; alternate computers offline -->
  <div class="row">

    <!-- Alternate computers online -->
    <div class="col mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              {% if current_user.is_authenticated %}
              <div class="text-xxs font-weight-bold text-success text-uppercase mb-1"><a class="dash-cards" href="{{ url_for('computer.index_view') }}?flt0_9=ONLINE&flt2_89=ALTERNATE">Alternate Computers Online</a></div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{ alternate_online }}</div>
                </div>
                <div class="col">
                  <div class="progress progress-sm mr-2">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ alternate_online_perc }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
            <div class="col-auto align-items-center">
              <div class="row no-gutters h5">
                <i class="fas fa-desktop fa-1x text-success center-hor"></i>
              </div>
              <div class="row no-gutters h5">
                <i class="fas fa-power-off fa-1x text-success center-hor"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Alternate computers offline -->
    <div class="col mb-4">
      <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              {% if current_user.is_authenticated %}
              <div class="text-xxs font-weight-bold text-danger text-uppercase mb-1"><a class="dash-cards" href="{{ url_for('computer.index_view') }}?flt0_7=no+backup&flt2_89=ALTERNATE">Alternate Computers Offline</a></div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800">{{ alternate_offline }}</div>
                </div>
                <div class="col">
                  <div class="progress progress-sm mr-2">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ alternate_offline_perc }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
            <div class="col-auto align-items-center">
              <div class="row no-gutters h5">
                <i class="fas fa-desktop fa-1x text-danger center-hor"></i>
              </div>
              <div class="row no-gutters h5">
                <i class="fas fa-power-off fa-1x text-danger center-hor"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /.container-fluid -->

</div>
{% endblock %}
