{% extends "base.html" %}

{% block flash_messages %}
{% endblock %}

{% block content %}
    <h1>There will be computer info with logs...</h1>
{% endblock %}

{% block sidebar_toggle %}
  <script>
    document.addEventListener("DOMContentLoaded",
      function(){
        $("#sidebarToggle").click();
      });
  </script>
{% endblock sidebar_toggle %}

{% block bootstrap_core %}
  <!-- This if statement is required to avoid double import if jQuery. Otherwise some funtions brake -->
  <script src="{{ url_for('static', filename='/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/vendor/jquery/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/vendor/jquery/popper.min.js.map') }}"></script>
{% endblock bootstrap_core %}
