{% extends "base.html" %}

{% block links %}
  <link href="{{ url_for('static', filename='/css/system-log.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="d-flex flex-column justify-content-center w-100 h-100">
    <div class="d-flex w-100 mb-4 align-items-center">
      <span class="mr-1">Logs for the last:</span>
      <div class="dropdown">
        <button class="btn dropdown-toggle btn-sm" style="border-color: rgb(183, 185, 204, 0.6); border-width: 1px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ days }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for days_number in [3, 7, 10, 30] %}
            <a class="dropdown-item" href="{{ url_for('info.system_log_info') }}?page={{ page.page }}&per_page={{ page.page_size }}&days={{ days_number }}&type={{ current_logs_type }}">{{ days_number }}</a>
          {% endfor %}
        </div>
      </div>
      <span class="ml-1 mr-5">days</span>

      <span class="mr-1">Logs type:</span>
      <div class="dropdown">
        <button class="btn dropdown-toggle btn-sm" style="border-color: rgb(183, 185, 204, 0.6); border-width: 1px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ current_logs_type }}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% for type in possible_logs_types %}
            <a class="dropdown-item" href="{{ url_for('info.system_log_info') }}?page={{ page.page }}&per_page={{ page.page_size }}&days={{ days }}&type={{ type }}">{{ type }}</a>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Table with logs -->
    {% if not system_logs %}
      <span class="text-center">No system logs found.</span>
    {% else %}
      <!-- Table -->
      <div class="w-100 h-100 overflow-scroll">
        <table class="w-full text-xs text-start table table-hover pr-2 pl-2">
          <thead class="text-sm text-start" style="color: #4e73df">
            <tr>
              <th class="p-0" scope="col"></th>
              <th scope="col">Event</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody>
            {% for log in system_logs %}
              <tr>
                <td class="p-0 text-center text-gray align-middle">
                  {% if log.log_type.value.startswith("COMPUTER") %}
                    <div class="d-inline-block">
                      <a class="fas fa-desktop text-decoration-none" href="{{ log.object_url }}"></a>
                    </div>
                  {% elif log.log_type.value.startswith("COMPANY") %}
                    <div class="d-inline-block">
                      <a class="fas fa-hospital text-decoration-none" href="{{ log.object_url }}"></a>
                    </div>
                  {% elif log.log_type.value.startswith("LOCATION") %}
                    <div class="d-inline-block">
                      <a class="fas fa-map-marker text-decoration-none" href="{{ log.object_url }}"></a>
                    </div>
                  {% elif log.log_type.value.startswith("USER") %}
                    <div class="d-inline-block">
                      <a class="fas fa-user text-decoration-none" href="{{ log.object_url }}"></a>
                    </div>
                  {% elif log.log_type.value.startswith("ALERT") %}
                    <div class="d-inline-block">
                      <a class="fas fa-bell text-decoration-none" href="{{ log.object_url }}"></a>
                    </div>
                  {% endif %}
                </td>
                <td class="p-2 text-gray align-middle">
                  {% if log.created_by_id %}
                    <span>
                      <a class="text-decoration-none" href="{{ url_for('user.edit_view', id=log.created_by_id) }}">{{ log.created_by.username }}</a>
                      {% if "CREATED" in log.log_type.value %}
                        added a new
                      {% elif "UPDATED" in log.log_type.value %}
                        updated the
                      {% elif "DELETED" in log.log_type.value %}
                        deleted the
                      {% endif %}
                      {{ log.log_type.value.split("_")[0].lower() }}
                      <a class="text-decoration-none" href="{{ log.object_url }}">{{ log.object_name }}</a>
                    </span>
                  {% else %}
                    {% if log.log_type.value == "COMPUTER_CREATED" %}
                      <span>
                        Computer
                        <a class="text-decoration-none" href="{{ log.object_url }}">{{ log.object_name }}</a>
                        was automatically registered to the system.
                      </span>
                    {% endif %}
                  {% endif %}
                </td>
                <td class="p-2 text-gray align-middle">
                  <div>{{ log.created_at.strftime("%Y-%m-%d %H:%M:%S") }}</div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- End table -->

      <!-- Pagination -->
      <div class="w-100 d-flex align-items-center mb-2">
        <span class="text-xs mr-4">{{ page.skip + 1 }}-{{ page.skip + system_logs.__len__() }} of {{ page.total }} records</span>

        {% if page.pages > 1 %}
          <nav aria-label="Page navigation" class="mr-4 d-flex align-items-center">
            <ul class="d-inline-flex items-center list-unstyled mb-0">
              <li>
                <!-- prettier-ignore -->
                <a
                  href="{{ url_for('info.system_log_info') }}?page=1&per_page={{ page.per_page }}&days={{ days }}&type={{ current_logs_type }}"
                  class="btn text-gray-500 btn-xs border btn-left-rounded-border p-0"
                  role="button"
                >
                  <span class="sr-only">First</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="20px" height="20px">
                    <path fill-rule="evenodd" d="M15.79 14.77a.75.75 0 01-1.06.02l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 111.04 1.08L11.832 10l3.938 3.71a.75.75 0 01.02 1.06zm-6 0a.75.75 0 01-1.06.02l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 111.04 1.08L5.832 10l3.938 3.71a.75.75 0 01.02 1.06z" clip-rule="evenodd" />
                  </svg>
                </a>
              </li>
              <li>
                <!-- prettier-ignore -->
                <a
                  href="{{ url_for('info.system_log_info') }}?page={{page.page-1 if page.page > 1 else 1}}&per_page={{ page.per_page }}&days={{ days }}&type={{ current_logs_type }}"
                  class="btn text-gray-500 btn-xs border rounded-0 border-left-0 p-0"
                  role="button"
                >
                  <span class="sr-only">Previous</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="20px" height="20px">
                    <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                  </svg>
                </a>
              </li>

              <!-- prettier-ignore -->
              {% for p in page.pages_for_links %}
              <li>
                <!-- prettier-ignore -->
                {% if p == page.page %}
                  <!-- prettier-ignore -->
                  <a
                    href="{{ url_for('info.system_log_info') }}?page={{p}}&per_page={{ page.per_page }}&days={{ days }}&type={{ current_logs_type }}"
                    class="btn text-gray-700 btn-xs border rounded-0 border-left-0"
                    role="button"
                  >
                    {{p}}
                  </a>
                {% else %}
                  <!-- prettier-ignore -->
                  <a
                    href="{{ url_for('info.system_log_info') }}?page={{p}}&per_page={{ page.per_page }}&days={{ days }}&type={{ current_logs_type }}"
                    class="btn text-gray-500 btn-xs border rounded-0 border-left-0"
                    role="button"
                  >
                    {{p}}
                  </a>
                {% endif %}
              </li>
              {% endfor %}

              <li>
                <!-- prettier-ignore -->
                <a
                  href="{{ url_for('info.system_log_info') }}?page={{page.page+1 if page.page < page.pages else page.pages}}&per_page={{ page.per_page }}&days={{ days }}&type={{ current_logs_type }}"
                  class="btn text-gray-500 btn-xs border rounded-0 border-right-0 border-left-0 p-0"
                  role="button"
                >
                  <!-- prettier-ignore -->
                  <span class="sr-only">Next</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="20px" height="20px">
                    <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                  </svg>
                </a>
              </li>
              <li>
                <!-- prettier-ignore -->
                <a
                  href="{{ url_for('info.system_log_info') }}?page={{page.pages}}&per_page={{ page.per_page }}&days={{ days }}&type={{ current_logs_type }}"
                  class="btn text-gray-500 btn-xs border btn-right-rounded-border p-0"
                  role="button"
                >
                  <!-- prettier-ignore -->
                  <span class="sr-only">Last</span>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="20px" height="20px">
                    <path fill-rule="evenodd" d="M10.21 14.77a.75.75 0 01.02-1.06L14.168 10 10.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                    <path fill-rule="evenodd" d="M4.21 14.77a.75.75 0 01.02-1.06L8.168 10 4.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                  </svg>
                </a>
              </li>
            </ul>
          </nav>
        {% endif %}

        <span class="text-xs mr-1">Rows per page:</span>
        <div class="dropdown">
          <button class="btn dropdown-toggle btn-xs" style="border-color: rgb(183, 185, 204, 0.6); border-width: 1px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ page.per_page }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for items_number in [25, 50, 100] %}
              <a class="dropdown-item" href="{{ url_for('info.system_log_info') }}?page=1&per_page={{ items_number }}&days={{ days }}&type={{ current_logs_type }}">{{ items_number }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
