.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-left-rounded-border {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.btn-right-rounded-border {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.form-control:focus {
  box-shadow: none;
}

.text-xs-bigger {
  font-size: 0.8rem;
}

.approving-select {
  color: gray;
  border-color: gainsboro;
  border-radius: 5px;
}

.form-select {
  outline: none;
}
