/* custom css */
* {
  border-radius: 2 !important;
}

.col-alert_status-green {
  background-color: #1cc88a;
  color: black;
}

.col-alert_status-red {
  background-color: #e74a3b;
  color: white;
}

.col-alert_status-yellow {
  background-color: #f6c23e;
  color: black;
}

.dash-cards {
  color: inherit;
}