.checkboxes-container-overflow {
    overflow-y: auto;
    max-height: 20vh;
}

.ul-with-no-decoration {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li:hover{
    cursor: pointer;
    background-color: gainsboro;
}
