{% extends "base.html" %}

{% block flash_messages %}
{% endblock %}

{% block links %}
  <link href="{{ url_for('static', filename='/css/merge.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="d-flex w-100 h-100 justify-content-center flex-column">
    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h4 class="text-gray font-weight-bold">Select data for merging:</h4>
    </div>
    <!-- End header -->

    <!-- Merging form -->
    <form autocomplete="off" action="/merge/location/{{ primary_location.id }}/second-step?primary_company={{ primary_company_id }}&secondary_company={{ secondary_company_id }}&secondary_location={{ secondary_location.id }}" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <div class="form-group mb-4">
        <label for="name-input" class="text-gray-900 font-weight-bold">Location Name:</label>
        <input id="name-input" type="text" name="name" class="form-control" value="{{ primary_location.name }}" readonly>

        <div class="form-check mt-2">
          <input
            type="checkbox"
            class="form-check-input"
            id="use-secondary-name-input"
            onclick="handleUseSecondaryClick(this, '{{ primary_location.name }}', '{{ secondary_location.name }}')"
            disabled
          >
          <label class="form-check-label" for="use-secondary-name-input">Use secondary ({{ secondary_location.name }})</label>
        </div>
      </div>

      <div class="form-group mb-4">
        <label for="company-input" class="text-gray-900 font-weight-bold">Company:</label>
        <input
          id="company-input"
          type="text"
          name="company_name"
          class="form-control"
          value="{{ primary_location.company_name or ''}}"
          readonly
          >

        <div class="form-check mt-2">
          <input
            type="checkbox"
            class="form-check-input"
            id="use-secondary-company-input"
            onclick="handleUseSecondaryClick(this, '{{ primary_location.company_name }}', '{{ secondary_location.company_name }}')"
          >
          <label
            class="form-check-label"
            for="use-secondary-company-input"
          >
            Use secondary ({{ secondary_location.company_name or '' }})
          </label>
        </div>
      </div>

      <div class="form-group mb-4">
        <label for="sftp-path-input" class="text-gray-900 font-weight-bold">Default SFTP Path:</label>
        <input
          id="sftp-path-input"
          type="text"
          name="default_sftp_path"
          class="form-control"
          value="{{ primary_location.default_sftp_path or '' }}"
          readonly
        >

        <div class="form-check mt-2">
          <input
            type="checkbox"
            class="form-check-input"
            id="use-secondary-sftp-path-input"
            onclick="handleUseSecondaryClick(this, '{{ primary_location.default_sftp_path }}', '{{ secondary_location.default_sftp_path }}')"
          >
          <label
            class="form-check-label"
            for="use-secondary-sftp-path-input"
          >
            Use secondary ({{ secondary_location.default_sftp_path or '' }})
          </label>
        </div>
      </div>

      <div class="form-group mb-4">
        <label for="pcc-fac-id-input" class="text-gray-900 font-weight-bold">PCC Facility ID:</label>
        <br>
        <span class="text-danger" style="font-size: 0.75em">** Change it only if you change location's company and name</span>
        <input
          id="pcc-fac-id-input"
          type="text"
          name="pcc_fac_id"
          class="form-control"
          value="{{ primary_location.pcc_fac_id or '' }}"
          readonly
        >

        <div class="form-check mt-2">
          <input
            type="checkbox"
            class="form-check-input"
            id="use-secondary-pcc-fac-id-input"
            onclick="handleUseSecondaryClick(this, '{{ primary_location.pcc_fac_id }}', '{{ secondary_location.pcc_fac_id }}')"
          >
          <label
            class="form-check-label"
            for="use-secondary-pcc-fac-id-input"
          >
            Use secondary ({{ secondary_location.pcc_fac_id or '' }})
          </label>
        </div>
      </div>

      <div class="form-group mb-4">
        <span class="text-gray-900 font-weight-bold">Use PCC Backup:</span>
        <div class="form-check mt-2">
          <input
            type="checkbox"
            class="form-check-input"
            id="use-pcc-backup-input"
            name="use_pcc_backup"
            {{ "checked" if primary_location.use_pcc_backup else None }}
          >
          <label class="form-check-label" for="use-pcc-backup-input">Use PCC backup</label>
        </div>
      </div>

      <select name="merged_computers_list" multiple id="merged-computers-select" class="from-control" hidden>
        {% for computer in merged_computers %}
          <option selected id="option-computer-{{ computer.id }}" value="{{ computer.id }}">{{ computer.computer_name }}</option>
        {% endfor %}
      </select>

      <div class="d-flex flex-column mb-4">
        <div class="text-gray-900 font-weight-bold mb-2">Merged computers list:</div>

        <div class="d-flex flex-column w-100 p-2 border rounded checkboxes-container-overflow">
          {% for computer in merged_computers %}
            <label for="checkbox-computer-{{ computer.id }}">
              <input checked type="checkbox" id="checkbox-computer-{{ computer.id }}" onclick="handleListCheckboxClick(this)"/>
              {{ computer.computer_name }}
            </label>
          {% endfor %}
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-primary" onclick="handleBackClick()">Back</button>
        <button type="submit" class="btn btn-primary">Next</button>
      </div>
    </form>
    <!-- End merging form -->
  </div>
{% endblock %}

{% block sidebar_toggle %}
  <script>
    document.addEventListener("DOMContentLoaded",
      function(){
        $("#sidebarToggle").click();
      });
  </script>
{% endblock sidebar_toggle %}

{% block bootstrap_core %}
  <!-- This if statement is required to avoid double import if jQuery. Otherwise some funtions brake -->
  <script src="{{ url_for('static', filename='/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/vendor/jquery/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/vendor/jquery/popper.min.js.map') }}"></script>
{% endblock bootstrap_core %}

{% block scripts %}
  <script src="{{ url_for('static', filename='/js/merge.js') }}"></script>
{% endblock %}
