version: "3.8"

services:
  db:
    image: postgres:13
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-pass}
      POSTGRES_DB: db
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      PGUSER: ${POSTGRES_USER:-postgres}
      PGPASSWORD: ${POSTGRES_PASSWORD:-pass}
      PGDATABASE: db

    ports:
      - 127.0.0.1:${LOCAL_DB_PORT:-5432}:5432

    volumes:
      - db-data0:/var/lib/postgresql/data

  app:
    restart: unless-stopped
    build: .
    environment:
      - FLASK_ENV=production
      - FLASK_APP=wsgi:app
    ports:
      - 127.0.0.1:${APP_PORT}:5000
    entrypoint: "bash start_server.sh"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - db

  backup:
    image: simple2b/pg-backup:1.0

    links:
      - db
    restart: always
    volumes:
      - ./backup:/backup
    environment:
      # scheduler
      SCHEDULE_HOUR: ${SCHEDULE_HOUR:-0}
      SCHEDULE_MINUTE: ${SCHEDULE_MINUTE:-0}
      SCHEDULE_SECOND: ${SCHEDULE_SECOND:-0}
      POSTGRES_HOST: db
      POSTGRES_DATABASE: db
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-passwd}
      POSTGRES_EXTRA_OPTS: "--schema=public --blobs"
      DAYS_HISTORY: 7

  celery_worker:
    container_name: "celery_worker"
    restart: unless-stopped
    build: .
    environment:
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_ADDR=redis:${REDIS_PORT}
      - BACKUP_DIR=${BACKUP_DIR}
      - FLASK_ENV=production
      - FLASK_APP=wsgi:app
      - FLASK_DEBUG=1
    depends_on:
      - db
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
    command: >
      celery -A worker worker -B -S redbeat.RedBeatScheduler --loglevel=INFO

  redis:
    restart: unless-stopped
    image: redis:alpine
    ports:
      - 127.0.0.1:6379:6379
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    command: >
      --requirepass ${REDIS_PASSWORD}

  file_api:
    build:
      context: ./file_api
      dockerfile: Dockerfile
    ports:
      - "127.0.0.1:${FILE_API_PORT:-33000}:3000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt

volumes:
  db-data0:
