# ignore directories
__pycache__/
.env
env/
.venv/
.pytest_cache/

# ignore files
# .env
*.pyc
/*.sqlite3

pyapp/
advinst/
sftp_files/
sftp_files_old/

/msi/build/
/build/
/dist/
/msi/dist/
/server_connect.spec

# archives
*.zip

# executable
*.exe
*.dll
/*.spec

